body {
    margin: 0;
    font-family: monospace;
    background-color: black;
    color: white;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

canvas {
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}

.home {
    display: flex;
    height: 100vh;
    min-height: 500px;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text1 {
    font-size: 27px;
}

.home .home-content .text2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text3 span {
    color: lightskyblue;
    font-weight: 500;
}

.container {  
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 3fr 3fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
}

.container img {
    width: 100%;
    height: auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.img-container img:hover {
    transform: scale(1.2);
}

.slideshow {
    position: relative;
    width: 60%;
    left: 50%;
    transform: translateX(-50%)
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
}

.cursor {
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 16.66%;
}

.demo {
    opacity: 0.6;
}

.active, .demo:hover {
    opacity: 1;
}

body::-webkit-scrollbar {
    display: none;
  }