body {
    margin: 0px auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

#body {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

rect {
    fill: none;
    pointer-events: all;
}

pre {
    font-size: 18px;
}

line {
    stroke: #0E0;
    stroke-width: 1.5px;
}

.string, .regexp {
    color: #f39;
}

.keyword {
    color: #00c;
}

.comment {
    color: #777;
    font-style: oblique;
}

.number {
    color: #369;
}

.class, .special {
    color: #1181B8;
}

a:link, a:visited {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    color: #666;
}

.node circle {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size: 12px;
}

path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2.0px;
}

.stickynote h2 {
    font-weight: bold;
    font-size: 1.5rem;
}

.stickynote p {
    font-size: 0.75rem;
}

.stickynote ul, li {
    list-style: none;
}

.stickynote ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stickynote ul li a {
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(-6deg);
    transition: transform .15s linear;
}

.stickynote ul li:nth-child(even) a {
    transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#cfc;
}

.stickynote ul li:nth-child(3n) a {
    transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#ccf;
}

.stickynote ul li:nth-child(5n) a {
    transform:rotate(5deg);
    position:relative;
    top:-10px;
}

.stickynote ul li a:hover,ul li a:focus {
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
    position:relative;
    z-index:5;
}

.stickynote ul li {
    margin: 1em;
}

img {
    max-height: 100%;
    width: auto;
}

.demo1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr;
    
}

.map {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.demo2 {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.infographic {
    height: 1000px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flyer {
    height: 500px;
    width: 386.25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}