body {
    font-family: "Inclusive Sans", sans-serif !important;
    margin: 0;
    background-color: #141b1e;
    color: #dadada;
}

* {
    box-sizing: border-box;
}

/* Container for the whole layout */
#container {
    max-width: 1500px;
    margin: 0 auto;
}

/* General link styles */
#container a {
    color: #8ccf7e;
    font-weight: bold;
}

#container a:hover {
    color: #838887;
}

/* Navigation bar styles */
#navbar {
    height: 40px;
    background-color: #141b1e;
    width: 100%;
}

#navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}

#navbar li {
    padding-top: 10px;
}

#navbar li a {
    color: #8ccf7e;
    font-weight: 800;
    text-decoration: none;
}

#navbar li a:hover {
    color: #838887;
}

/* Flex container for the layout */
#flex {
    display: flex;
}

/* Sidebar styles */
aside {
    background-color: #141b1e;
    width: 200px;
    padding: 20px;
    font-size: smaller;
}

/* Main content area */
main {
    background-color: #1c2724;
    flex: 1;
    padding: 20px;
    order: 2;
}

/* Grid styles */
.grid {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-items: center;
    align-items: center;
}


.item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.item img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}


/* Media query for responsive grid */
@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}
@media (max-width: 480px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}


/* Adjust layout for smaller screens */
@media only screen and (max-width: 1400px) {
    #flex {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
    }

    main {
        order: 1;
    }

    #leftSidebar {
        order: 2;
    }

    #navbar ul {
        flex-wrap: wrap;
    }
}

/* Footer styles */
footer {
    background-color: #141b1e;
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: center;
}

/* Header styles */
h1,
h2,
h3 {
    color: #8ccf7e;
}

h1 {
    font-size: 25px !important;
}

/* Strong text styles */
strong {
    color: #8ccf7e;
}

/* Box styles */
.box {
    background-color: #1c2724;
    border: 1px solid #8ccf7e;
    padding: 10px;
}

/* Form styles */
.form {
    display: flex;
    margin: auto;
    justify-self: center;
    justify-content: center;
}

/* Top bar styles */
#topBar {
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: smaller;
    background-color: #13092D;
}