body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: monospace;
    background-color: black;
    color: white;
    overflow: hidden;
}

canvas {
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}

.test {
    color: white;
    font-family: monospace;
}


