/* Reset and global styles */
body {
    font-family: "Inclusive Sans", sans-serif !important;
    margin: 0;
    background-color: #141b1e;
    color: #dadada;
}

* {
    box-sizing: border-box;
}

/* Container for the whole layout */
#container {
    max-width: 1500px;
    margin: 0 auto;
}

/* General link styles */
#container a {
    color: #8ccf7e;
    font-weight: bold;
    text-decoration: none;
}

#container a:hover {
    color: #838887;
}

/* Hamburger menu styles */
.hamburger {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: #8ccf7e;
    cursor: pointer;
    margin-left: auto; /* Places the hamburger menu on the right */
    padding: 5px;
}

/* Navigation bar styles */
#navbar {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #141b1e;
    width: 100%;
}

#navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
    flex: 1;
}

#navbar li {
    padding-top: 10px;
}

#navbar li a {
    color: #8ccf7e;
    font-weight: 800;
    text-decoration: none;
    padding: 10px;
    display: block;
}

#navbar li a:hover {
    color: #838887;
}

/* Flex container for the layout */
#flex {
    display: flex;
}

/* Sidebar styles */
aside {
    background-color: #141b1e;
    width: 200px;
    padding: 20px;
    font-size: smaller;
}

/* Main content area */
main {
    background-color: #1c2724;
    flex: 1;
    padding: 20px;
    order: 2;
}

/* Grid styles */
.grid {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-items: center;
    align-items: center;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.item img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* Media query for responsive design */
@media (max-width: 768px) {
    .hamburger {
        display: block; /* Show hamburger menu icon on smaller screens */
    }

    #navbar ul {
        display: none; /* Hide the navbar list by default on smaller screens */
        flex-direction: column; /* Stack items vertically */
        position: absolute;
        top: 40px; /* Position dropdown below navbar */
        left: 0;
        width: 100%;
        background-color: #141b1e;
        padding: 10px;
        z-index: 1000; /* Ensure it's on top of other content */
    }

    #navbar ul.active {
        display: flex; /* Show navbar list when active class is added */
    }

    #navbar li {
        width: 100%;
        text-align: center;
    }
}
